<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SADCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SADCom.Resources.TerminalConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SADCom.Properties.Settings>
            <setting name="terminalFont" serializeAs="String">
                <value>Lucida Console, 10pt</value>
            </setting>
            <setting name="terminalBackground" serializeAs="String">
                <value>1, 36, 86</value>
            </setting>
            <setting name="terminalForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="terminalOpacity" serializeAs="String">
                <value>90</value>
            </setting>
        </SADCom.Properties.Settings>
        <SADCom.Resources.TerminalConfiguration>
            <setting name="terminalFont" serializeAs="String">
                <value>Lucida Console, 10pt</value>
            </setting>
            <setting name="terminalForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="terminalBackground" serializeAs="String">
                <value>1, 36, 86</value>
            </setting>
            <setting name="terminalOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="addrFileAnalyserDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="addrLogFileAnalyser" serializeAs="String">
                <value />
            </setting>
        </SADCom.Resources.TerminalConfiguration>
    </userSettings>
</configuration>